* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    color: hsla(0, 0%, 100%, 0.75);
    background-color: hsl(233, 47%, 7%);
}

.card {
    display: flex;
    max-width: 800px;

    font-size: 15px;
    background-color: hsl(244, 38%, 16%);
}

.card > .content > .title {
    color: hsl(0, 0%, 100%);
}

.card > .content > .stats > li > .numerical {
    color: hsla(0, 0%, 100%, 0.6);
}